*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'work sans';

}

.owl{
    display: flex;
    align-items: center;
  }

html, body{
    height: 100%;
    width: 100%;
    font-family: 'work sans';
        color: #222;
    background-color: white;
}

.navbar{
    background-color: white;
}

.navbar-nav li{
    color: #232427;
    padding-left:10px;
}

.link{
    font-size: 15px !important;
    font-family: 'work sans';
    font-weight: 600;  
    color: #232427;
    margin-left: 20px;

}

.link:hover{
    color: #494B52;
    text-decoration: underline;
}

.call{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.call:hover{
    color: white;
    text-decoration: none;
}

.work_done{
    background-image: url(images/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
}

.slider_btn{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.slider_btn:hover{
    color: white;
    text-decoration: none;
}

.li{
    margin-left: 10px;
   font-size: 12px;
   padding-left: 20px;
}


.work{
    color: white;
}

.carousel-inner img{
    width:100%;
    height: 85vh;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family:'work sans';
}

.font{
    font-family: 'work sans';
}

.carousel-caption h2{ 
    text-transform: uppercase;
    font-family:'work sans';
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    font-family: 'work sans';
}

footer{
    background-color: #494B52;
    color: #d5d5d5;
    padding-top: 2rem;
    font-family: 'work sans';
}

hr.light{
    border-top: 1px solid #d5d5d5;
}



.lol{
    margin-left: 100px;
    margin-bottom: 20px;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 5px 5px 11px grey;
  }

  .proback{
    height: 550px;
    /* background-color: #232427; */
    background-image: url(images/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
  }

  .owl-nav {
    position: absolute;
    top:-3rem;
    right:0;

  }
  

.item{
    width:350px;

}

.item img{
    border-radius: 10px;

}

  div.owlbox {
      width: 1170px;
    background-color: #dfdfdf;
    border-radius: 5px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .about{
      padding: 10px 5px ;
      background-color: #232427;
      border-radius: 3px;
      color:white;
      font-weight:bold;
      border: none;
      outline: none;
  }


@media only screen and (max-width: 667px) {
    .lol{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .logo{
        width: 60%;
        height: 100%;
    }
    .aboutbtn{
        margin-right:-8100px;
    }
    .owl-nav{
        position: relative;
        bottom: 0;
        margin-top: 20px;
    }
    div.owlbox {
        width: 390px;
    }
}
