*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'work sans';

}

.owl{
    display: flex;
    align-items: center;
  }

html, body{
    height: 100%;
    width: 100%;
    font-family: 'work sans';
        color: #222;
    background-color: white;
}

.navbar{
    background-color: white;
}

.navbar-expand-md{
    height: 75px;
}

.navbar-nav li{
    color: #232427;
    padding-left:10px;
}

.link{
    font-size: 15px !important;
    font-family: 'work sans';
    font-weight: 600;  
    color: #232427;
    margin-left: 20px;

}

.link:hover{
    color: #494B52;
    text-decoration: underline;
}

.call{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.call:hover{
    color: white;
    text-decoration: none;
}

.work_done{
    background-image: url(images/banner/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
}

.slider_btn{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.slider_btn:hover{
    color: white;
    text-decoration: none;
}

.li{
    margin-left: 10px;
   font-size: 12px;
   padding-left: 20px;
}


.work{
    color: white;
}

.carousel-inner img{
    width:100%;
    height: 85vh;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family:'work sans';
}

.font{
    font-family: 'work sans';
}

.carousel-caption h2{ 
    text-transform: uppercase;
    font-family:'work sans';
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    font-family: 'work sans';
}

footer{
    background-color: #494B52;
    color: #d5d5d5;
    padding-top: 2rem;
    font-family: 'work sans';
}

hr.light{
    border-top: 1px solid #d5d5d5;
}



.lol{
    margin-left: 100px;
    margin-bottom: 20px;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 5px 5px 11px grey;
  }

  .proback{
    height: 550px;
    background-image: url(images/banner/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
  }

  .owl-nav {
    position: absolute;
    left: 44rem;
    bottom: -3rem;
}


.item{
    width:350px;
}

.item img{
    border-radius: 10px;
}

  div.owlbox {
      width: 1170px;
    /* background-color: ; */
    border-radius: 5px;
  }

  div.testbox {
    width: 1170px;
  background-color: #dfdfdf;
  border-radius: 5px;
}

.comment{
    margin-left:250px; 
    font-size: 40px;
    color: #727377;
}

  .center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .about{
      padding: 10px 5px ;
      background-color: #232427;
      border-radius: 3px;
      color:white;
      font-weight:bold;
      border: none;
      outline: none;
  }

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dfe1e7;
}
.section::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 100%;
}

.section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.section .container .contactinfo{
    position: absolute;
    top:20%;
    width: 370px;
    height:300px;
    background-color: #232427;
    z-index: 1;
    padding: 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);   
}

.section .container .contactinfo h4{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

.section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.section .container .contactinfo .info li span:nth-child(1) i{
    max-width: 100%;
    /* filter: invert(1); */
    color: white;
}

.section .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
}

.section .container .contactinfo .info li:hover span:nth-child(1) i,
.section .container .contactinfo .info li:hover span:nth-child(2){
    opacity: 0.5;
}

.section .container .contactform{
    position: absolute;
    padding: 70px 50px;
    background-color: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 570px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.2);
}

.section .container .contactform h1{
    color: #494B52;
    font-size: 24px;
    font-weight: bold;
}

.section .container .contactform .formBox{
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.section .container .contactform .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

.section .container .contactform .formBox .inputBox.w50{
    width: 47%;
}

.section .container .contactform .formBox .inputBox.w100{
    width: 100%;
}

.section .container .contactform .formBox .inputBox input,
.section .container .contactform .formBox .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #232427;
    border:none;
    border-bottom: 1px solid #494B52;
    outline: none;
}

.section .container .contactform .formBox .inputBox textarea{
    min-height: 120px;
}

.section .container .contactform .formBox .inputBox span{
    position: absolute;
    padding: 5px 0;
    left:0;
    bottom:25px;
    font-size: 18px;
    font-weight: 300;
    color: #232427;
    transition: 0.5s;
    pointer-events: none;
}

.section .container .contactform .formBox .inputBox input:focus ~ span,
.section .container .contactform .formBox .inputBox textarea:focus ~ span
.section .container .contactform .formBox .inputBox input:valid ~ span,
.section .container .contactform .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-10px);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #494B52;   
}

.section .container .contactform .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color:#D12424;
    color: white;
    font-weight:bold;
    border:none;
    max-width: 150px;
    padding:10px;
    border-radius: 6px;
}

.section .container .contactform .formBox .inputBox input[type="submit"]:hover{
    opacity: 0.8;
}

.row2{
    margin: 15px;
  }

.banner{
    background-image: url(images/banner/work.png);
    height: 350px;
}
.work_done_heading{
    font-size: 30px;
    color: white;
    margin-top: 150px;
    font-weight: bold;
}
.body{
    background-image: url(images/bg.png);
    height: auto;
}


.demo{ 
    height: 620px;
 }
.testimonial{
    background: #D12424;
    text-align: center;
    padding: 20px 20px 0px;
    margin: 0 15px 100px;
    position: relative;
}
.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid #D12424;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.testimonial-slider{
    position: relative; 
    top: -60px;
}
.testimonial:after{
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}
.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: white;
    /* margin-bottom: 20px; */
    /* opacity: 0.6; */
}
.testimonial .description{
    font-size: 15px;
    color: white;
    text-align: left;
    margin-bottom: 30px;
    opacity: 0.8;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    right: 5rem;
}
.testimonial .pic{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #c7ab60;
    overflow: hidden;
    z-index: 1;
    position: relative;
    top:-35px;
    left: 4px;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    margin: 0 0 0px 0;
    position: relative;
    top: -20px;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: black;
}
/* .owl-theme .owl-controls{
    margin-top: 0;
}
.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #bd986b;
    margin: 5px;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #ffd9b8;
    border-color: #fff;} */



      #news-slider{
          /* margin-top: 80px; */
      }
      .post-slide{
          /* background: #fff; */
          margin: 20px 15px 20px;
          border-radius: 15px;
          padding-top: 1px;
          /* box-shadow: 0px 14px 22px -9px #bbcbd8; */
      }
      .post-slide .post-img{
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          margin: -12px 15px 8px 15px;
          margin-left: -10px;
      }
      .post-slide .post-img img{
          width: 100%;
          height: auto;
          transform: scale(1,1);
          transition:transform 0.2s linear;
      }
      .post-slide:hover .post-img img{
          transform: scale(1.1,1.1);
      }
      .post-slide .over-layer{
          width:100%;
          height:100%;
          position: absolute;
          top:0;
          left:0;
          opacity:0;
          background: linear-gradient(-45deg, rgba(178, 178, 179, 0.75) 0%, rgba(116, 117, 117, 0.6) 100%);
          transition:all 0.50s linear;
      }
      .post-slide:hover .over-layer{
          opacity:1;
          text-decoration:none;
      }
      
      .post-slide .over-layer i{
          position: relative;
          top:45%;
          text-align:center;
          display: block;
          color:#fff;
          font-size:25px;
      }
      .heading{
          font-weight: bold;
      }
      .heading_1{
        font-weight: 500;
      }
      
      .defn{
        color: #727377; 
        font-size: 17px;
      }
      .carousel-inner{
        height: 450px;
      }

      body {
        background-color: #000;
        font: 1.1em Arial, Helvetica, sans-serif;
      }
      
      .img {
        max-width: 100%;
        display: block;
      }
      
      figure {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
      }
      
      figure > .img {
        grid-row: 1 / -1;
        grid-column: 1;
      }
      
      figure a {
        color: black;
        text-decoration: none;
      }
      
      figcaption {
        grid-row: 2;
        grid-column: 1;
        background-color: rgba(255,255,255,.5);
        padding: .2em .5em;
        justify-self: start;
      }
      
      .container_1 {
        column-count: 4;
        column-gap: 10px;
      }
      
      .container-1 {
        position: relative;
        /* width: 400px; */
        height: auto;
    }
      
    .overlay {
        position: absolute;
        transition: all 0.3s ease;
        opacity: 0;
        background: linear-gradient(-45deg, rgba(35, 35, 36, 0.75) 0%, rgba(53, 54, 54, 0.6) 100%);
    }
      
    .grid-wrapper div:hover .overlay {
        opacity: 1;
    }
      
    /* .overlayFade {
        background: linear-gradient(-45deg, rgba(35, 35, 36, 0.75) 0%, rgba(53, 54, 54, 0.6) 100%);
    } */
    .overlay-text{
        display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 0rem;
    color: #ffffff;
    font-size: 1.5rem;
    }
    .logo{
        width:20%;
        height:100%;
    }
    .footer-logo{
        width:90%; 
        height:100%;
    }

    .overlay-img{
        width: 295px;height: 200px; border-radius: 3px;
    }
    .overlay-big{
        width: 600px;height: 405px; border-radius: 3px;
    }
    .overlay-wide{
        width: 600px;height: 200px; border-radius: 3px;
    }
    .overlay-tall{
        width: 295px;height: 405px; border-radius: 3px;
    }


    .img_work {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }
    
    /* Main CSS */
    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        
    }
    
    .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;
    }
    .grid-wrapper .wide {
        grid-column: span 2;
    }
    .grid-wrapper .tall {
        grid-row: span 2;
    }
    .grid-wrapper .big {
        grid-column: span 2;
        grid-row: span 2;
    }
    .overlay-img{

    }
    
      
@media only screen and (max-width: 667px) {
    .carousel-inner{
        height: 500px;
    }
    .work_long{
        width: 150px;
        margin-left: 80px;
    }
    .navbar-toggler{
      /* position: relative;
      top:-60px; */
      position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
    }
    .navbar-collapse{
      height: 130px;
      background-color: white;
      /* position: absolute; */
      /* top:-40px; */
    }
    .logo{
        width: 40%;
        height: 60%;
        position: absolute;
  top: 0px;
  right: 16px;
  /* font-size: 18px; */
    }
    .parallax{
        height: 200px;
    }
   
    .call_1{
        margin-top: 14px;
    }
    .caption{
        font-size: 20px;
    }
    .heading{
        font-size: 20px;
    }
    .heading_1{
        font-size: 18px;
    }
    .defn{
        font-size: 15px;
    }
    .lol{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .footer-logo{
        width: 50%;
    }
    .widget_links {
        font-size: 15px;
        color: #BCC1d1;
    }
    .aboutbtn{
        margin-right:-8100px;
    }
    .owl-nav {
        position: absolute;
        bottom: -4rem;
        left:9rem;
    }
    /* div.owlbox {
        width: 390px;
    }
    div.testbox {
        width: 390px;
    } */
    .testimonial-slider{
        position: relative; 
        top: -100px;
    }
    .overlay-text{
        margin-top: 4rem;
        font-size: 1rem;
    }
    .overlay-img{
        width: 250px;height: 200px; border-radius: 3px;
    }
    .overlay-img-1{
        width: 115px;height: 200px; border-radius: 3px;
    }
    .overlay-big{
        width: 375px;height: 405px; border-radius: 3px;
    }
    .overlay-wide{
        width: 375px;height: 200px; border-radius: 3px;
    }
    .overlay-tall{
        width: 250px;height: 405px; border-radius: 3px;
    } 
    .overlay-tall-1{
        width: 115px;height: 405px; border-radius: 3px;
    }
    
    
    .section:before{
        display: none;
    }
    .section .container{
        display: flex;
        flex-direction: column-reverse;
        width:100%;
        height: auto;
        min-width:390px;
        margin: 0px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
    .section .container .contactinfo{
        top:0;
        position: relative;
        box-shadow: none;
        width: 100%;
        height: auto;
    }
    .section .container .contactform{
        position: relative;
        padding-left: 0px;
        padding-bottom: 10px;
        margin-left: 0px;
        padding: 40px;
        box-shadow: none;
        width: 100%;
        height: auto;
    }
    .owl-carousel .owl-nav button.owl-prev{
        margin-top: 40px;
    }
    .owl-carousel .owl-nav button.owl-next{
        margin-top: 40px;
    }
    .btn{
        padding-left: 10px;
        padding-right: 10px;
    }
    .proback{
        height: 500px;
    }
    .demo{ 
        height: 730px;
     }
}




@media only screen and (max-width: 650px) and (min-width: 400px){
    .testimonial:before{ border-right: 325px solid transparent; }
    .testimonial:after{ border-left: 325px solid transparent; }
}