*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'work sans';

}

.owl{
    display: flex;
    align-items: center;
  }

html, body{
    height: 100%;
    width: 100%;
    font-family: 'work sans';
        color: #222;
    background-color: white;
}

.navbar{
    background-color: white;
}

.navbar-nav li{
    color: #232427;
    padding-left:10px;
}

.link{
    font-size: 15px !important;
    font-family: 'work sans';
    font-weight: 600;  
    color: #232427;
    margin-left: 20px;

}

.link:hover{
    color: #494B52;
    text-decoration: underline;
}

.call{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.call:hover{
    color: white;
    text-decoration: none;
}

.work_done{
    background-image: url(images/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
}

.slider_btn{
    background-color: #D12424;
    color: white;
    font-family:  "work sans";
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.slider_btn:hover{
    color: white;
    text-decoration: none;
}

.li{
    margin-left: 10px;
   font-size: 12px;
   padding-left: 20px;
}


.work{
    color: white;
}

.carousel-inner img{
    width:100%;
    height: 85vh;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family:'work sans';
}

.font{
    font-family: 'work sans';
}

.carousel-caption h2{ 
    text-transform: uppercase;
    font-family:'work sans';
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    font-family: 'work sans';
}

footer{
    background-color: #494B52;
    color: #d5d5d5;
    padding-top: 2rem;
    font-family: 'work sans';
}

hr.light{
    border-top: 1px solid #d5d5d5;
}



.lol{
    margin-left: 100px;
    margin-bottom: 20px;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 5px 5px 11px grey;
  }

  .proback{
    height: 550px;
    /* background-color: #232427; */
    background-image: url(images/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'work sans';
  }

  .owl-nav {
    position: absolute;
    top:-3rem;
    right:0;
}


.item{
    width:350px;
}

.item img{
    border-radius: 10px;
}

  div.owlbox {
      width: 1170px;
    background-color: #dfdfdf;
    border-radius: 5px;
  }

  div.testbox {
    width: 1170px;
  background-color: #dfdfdf;
  border-radius: 5px;
}

.comment{
    margin-left:250px; 
    font-size: 40px;
    color: #727377;
}

  .center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .about{
      padding: 10px 5px ;
      background-color: #232427;
      border-radius: 3px;
      color:white;
      font-weight:bold;
      border: none;
      outline: none;
  }

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dfe1e7;
}
.section::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 100%;
}

.section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.section .container .contactinfo{
    position: absolute;
    top:20%;
    width: 370px;
    height:300px;
    background-color: #494B52;
    z-index: 1;
    padding: 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);   
}

.section .container .contactinfo h4{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

.section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.section .container .contactinfo .info li span:nth-child(1) i{
    max-width: 100%;
    /* filter: invert(1); */
    color: white;
}

.section .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
}

/* .section .container .contactinfo .info li:hover span:nth-child(1) i,
.section .container .contactinfo .info li:hover span:nth-child(2){
    opacity: 0.5;
} */

.section .container .contactform{
    position: absolute;
    padding: 70px 50px;
    background-color: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.2);
}

.section .container .contactform h1{
    color: #494B52;
    font-size: 24px;
    font-weight: bold;
}

.section .container .contactform .formBox{
    position: relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.section .container .contactform .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

.section .container .contactform .formBox .inputBox.w50{
    width: 47%;
}

.section .container .contactform .formBox .inputBox.w100{
    width: 100%;
}

.section .container .contactform .formBox .inputBox input,
.section .container .contactform .formBox .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #232427;
    border:none;
    border-bottom: 1px solid #494B52;
    outline: none;
}

.section .container .contactform .formBox .inputBox textarea{
    min-height: 120px;
}

.section .container .contactform .formBox .inputBox span{
    position: absolute;
    padding: 5px 0;
    left:0;
    font-size: 18px;
    font-weight: 300;
    color: #232427;
    transition: .5s;
    pointer-events: none;
}

.section .container .contactform .formBox .inputBox input:focus ~ span,
.section .container .contactform .formBox .inputBox textarea:focus ~ span
.section .container .contactform .formBox .inputBox input:valid ~ span,
.section .container .contactform .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #494B52;   
}

.section .container .contactform .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color:#D12424;
    color: white;
    font-weight:bold;
    border:none;
    max-width: 150px;
    padding:10px;
    border-radius: 6px;
}

.section .container .contactform .formBox .inputBox input[type="submit"]:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 667px) {
    .lol{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .logo{
        width: 60%;
        height: 100%;
    }
    .aboutbtn{
        margin-right:-8100px;
    }
    .owl-nav{
        position: relative;
        bottom: 0;
        margin-top: 20px;
    }
    div.owlbox {
        width: 390px;
    }
    
    .section:before{
        display: none;
    }
    .section .container{
        display: flex;
        flex-direction: column-reverse;
        width:100%;
        height: auto;
        min-width:390px;
        margin: 0px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
    .section .container .contactinfo{
        top:0;
        position: relative;
        box-shadow: none;
        width: 100%;
        height: auto;
    }
    .section .container .contactform{
        position: relative;
        padding-left: 0px;
        margin-left: 0px;
        padding: 40px;
        box-shadow: none;
        width: 100%;
        height: auto;
    }
}


