*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
        color: #222;
    background-color: white;
}
/* fffbc8 */
.navbar{
    padding:.8rem;
    background-color: white;
}

.navbar-nav li{
    color: black;
    padding-right:20px;
}

/* .nav-link{
    font-size: 1.1rem !important;
    font-family: 'Raleway', sans-serif;

} */

.nav-item a{
    font-size: 1.1rem !important;
    font-family: 'Raleway', sans-serif;

}

 /* .nav-item a:hover{
    font-family: 'Raleway', sans-serif;
    color: #e7e7e7;
} */

.overlay{
    position: absolute;
    width: 100%;
    height:85vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    opacity: .9;
}

.work{
    color: white;
}

.btn-outline-secondary{
    background-color: rgb(250, 164, 3);
}

.jumbotron{
    background-color: #737b81;
    /* background-image: url(images/141516.jpg); */
    height: 300px;
}
.carousel-inner img{
    width:100%;
    height: 85vh;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
}

.font{
    font-family: 'Raleway', sans-serif;
}

.carousel-caption h2{ 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

footer{
    background-color: #3b3b3b;
    color: #d5d5d5;
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
}

hr.light{
    border-top: 1px solid #d5d5d5;
}

.overlay1{
    /* position: absolute; */
    /* width: 100%;
    height:250vh; */
    z-index: 2;
    background-color: #080d15;
    opacity: 0.5;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    padding: 15px;
    box-shadow: 5px 5px 11px grey;
  }

  @media only screen and (max-width: 6px) {
    body {
      background-color: lightblue;
    }
  }